NBi.Xml/NBi-TestSuite.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="NBi-TestSuite" xmlns="http://NBi/TestSuite" xmlns:mstns="http://NBi/TestSuite.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://NBi/TestSuite">
	<xs:element name="testSuite">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="settings" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="default" minOccurs="0" maxOccurs="2">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="connectionString" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="apply-to" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="system-under-test"/>
												<xs:enumeration value="assert"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="reference" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="connectionString" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="test" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="category" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="system-under-test" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="query" type ="query-type" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="members" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="name" type="xs:string" use="optional" />
														<xs:attribute name="perspective" type="xs:string" use="required" />
														<xs:attribute name="path" type="xs:string" use="required" />
														<xs:attribute name="children-of" type="xs:string" use="optional" />
														<xs:attribute name="connectionString" type="xs:string" use="optional" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="structure" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="target" use="required" >
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="perspectives"/>
																	<xs:enumeration value="measure-groups"/>
																	<xs:enumeration value="measures"/>
																	<xs:enumeration value="dimensions"/>
																	<xs:enumeration value="hierarchies"/>
																	<xs:enumeration value="levels"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
														<xs:attribute name="perspective" type="xs:string" use="optional" />
														<xs:attribute name="path" type="xs:string" use="optional" />
														<xs:attribute name="measure-group" type="xs:string" use="optional" />
														<xs:attribute name="connectionString" type="xs:string" use="optional" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="assert" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="equalTo" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="column" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="index" type="xs:int" use="required" />
																	<xs:attribute name="role" use="required" >
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="key"/>
																				<xs:enumeration value="value"/>
																				<xs:enumeration value="ignore"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="tolerance" type="xs:decimal" use="optional" />
																	<xs:attribute name="type" use="optional">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="numeric"/>
																				<xs:enumeration value="text"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="resultSet" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="row" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="cell" minOccurs="1" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="file" type="xs:string" use="optional" />
														</xs:complexType>
													</xs:element>
													<xs:element name="query" type="query-type" minOccurs="0" maxOccurs="1"/>
												</xs:sequence>
												<xs:attribute name="keys" use="optional" >
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="first"/>
															<xs:enumeration value="all-except-last"/>
															<xs:enumeration value="all"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="values" use="optional" >
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="all-except-first"/>
															<xs:enumeration value="last"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="tolerance" type="xs:decimal" use="optional" />
												<xs:attribute name="persistance" use="optional" >
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="never"/>
															<xs:enumeration value="only-if-failed"/>
															<xs:enumeration value="always"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="syntacticallyCorrect" minOccurs="0">
										</xs:element>
										<xs:element name="fasterThan" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="max-time-milliSeconds" type="xs:unsignedShort" use="required" />
												<xs:attribute name="clean-cache" type="xs:boolean" use="optional" />
											</xs:complexType>
										</xs:element>
										<xs:element name="count" minOccurs="0">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="exactly" type="xs:unsignedShort" use="optional" />
														<xs:attribute name="more-than" type="xs:unsignedShort" use="optional" />
														<xs:attribute name="less-than" type="xs:unsignedShort" use="optional" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="contains" minOccurs="0">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="caption" type="xs:string" use="required" />
														<xs:attribute name="display-folder" type="xs:string" use="optional" />
														<xs:attribute name="ignore-case" type="xs:boolean" use="optional" />
														<xs:attribute name="not" type="xs:boolean" use="optional" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="ordered" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="rule-definition" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string"/>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="descending" type="xs:boolean" use="optional" />
												<xs:attribute name="rule" use="optional" >
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="alphabetical"/>
															<xs:enumeration value="chronological"/>
															<xs:enumeration value="numerical"/>
															<xs:enumeration value="specific"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>							
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="uid" type="xs:unsignedByte" use="optional" />
						<xs:attribute name="ignore" type="xs:boolean" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:complexType name="query-type" mixed="true">
		<xs:sequence>
			
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional" />
		<xs:attribute name="file" type="xs:string" use="optional" />
		<xs:attribute name="connectionString" type="xs:string" use="optional" />
		<xs:attribute name="connectionString-ref" type="xs:string" use="optional" />
	</xs:complexType>
</xs:schema>