NBi.Xml/NBi-TestSuite.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="NBi-TestSuite" xmlns="http://NBi/TestSuite" xmlns:mstns="http://NBi/TestSuite.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://NBi/TestSuite">
	<xs:element name="testSuite">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="settings" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="default" minOccurs="0" maxOccurs="2">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="connectionString" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="apply-to" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="system-under-test"/>
												<xs:enumeration value="assert"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="reference" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="connectionString" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="test" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ignore" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="description" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="edition" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence minOccurs="0" maxOccurs="unbounded">
										<xs:element name="update">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="contributor" type="xs:string" use="optional" />
														<xs:attribute name="timestamp" type="xs:dateTime" use="required" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="author" type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="category" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="system-under-test" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:choice>
										<xs:element name="execution">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="query" type ="query-type"/>
												</xs:sequence>
											</xs:complexType>		
										</xs:element>
										<xs:element name="members">
											<xs:complexType>
												<xs:choice>
													<xs:element name="hierarchy" type="hierarchy-type"/>
													<xs:element name="level" type="level-type"/>
												</xs:choice>
												<xs:attribute name="children-of" type="xs:string" use="optional" />
											</xs:complexType>
										</xs:element>
										<xs:element name="structure">
											<xs:complexType>
												<xs:choice>
													<xs:element name="perspective" type="perspective-type"/>
													<xs:element name="measure-group" type="measure-group-type"/>
													<xs:element name="measure" type="measure-type"/>
													<xs:element name="dimension" type="dimension-type"/>
													<xs:element name="hierarchy" type="hierarchy-type"/>
													<xs:element name="level" type="level-type"/>
												</xs:choice>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="assert" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:choice>
										<xs:element name="equalTo">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="column" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="index" type="xs:int" use="required" />
																	<xs:attribute name="role" use="required" >
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="key"/>
																				<xs:enumeration value="value"/>
																				<xs:enumeration value="ignore"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="tolerance" type="xs:decimal" use="optional" />
																	<xs:attribute name="type" use="optional">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="numeric"/>
																				<xs:enumeration value="text"/>
																				<!--<xs:enumeration value="dateTime"/>-->
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="resultSet" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="row" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="cell" minOccurs="1" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="file" type="xs:string" use="optional" />
														</xs:complexType>
													</xs:element>
													<xs:element name="query" type="query-type" minOccurs="0" maxOccurs="1"/>
												</xs:sequence>
												<xs:attribute name="keys" use="optional" >
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="first"/>
															<xs:enumeration value="all-except-last"/>
															<xs:enumeration value="all"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="values" use="optional" >
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="all-except-first"/>
															<xs:enumeration value="last"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="tolerance" type="xs:decimal" use="optional" />
												<xs:attribute name="persistance" use="optional" >
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="never"/>
															<xs:enumeration value="only-if-failed"/>
															<xs:enumeration value="always"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="syntacticallyCorrect">
										</xs:element>
										<xs:element name="fasterThan">
											<xs:complexType>
												<xs:attribute name="max-time-milliSeconds" use="required" >
													<xs:simpleType>
														<xs:restriction base="xs:positiveInteger">
															<xs:maxInclusive value="2147483647"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="clean-cache" type="xs:boolean" use="optional" />
											</xs:complexType>
										</xs:element>
										<xs:element name="count">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="exactly" type="xs:unsignedShort" use="optional" />
														<xs:attribute name="more-than" type="xs:unsignedShort" use="optional" />
														<xs:attribute name="less-than" type="xs:unsignedShort" use="optional" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="contains">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="caption" type="xs:string" use="required" />
														<xs:attribute name="ignore-case" type="xs:boolean" use="optional" />
														<xs:attribute name="not" type="xs:boolean" use="optional" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="exists">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="ignore-case" type="xs:boolean" use="optional" />
														<xs:attribute name="not" type="xs:boolean" use="optional" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="ordered">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="rule-definition" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string"/>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="descending" type="xs:boolean" use="optional" />
												<xs:attribute name="rule" use="optional" >
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="alphabetical"/>
															<xs:enumeration value="chronological"/>
															<xs:enumeration value="numerical"/>
															<xs:enumeration value="specific"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:choice>							
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="uid" type="xs:unsignedByte" use="optional" />
						<xs:attribute name="ignore" type="xs:boolean" use="optional" />
						<xs:attribute name="description" type="xs:string" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:complexType name="query-type" mixed="true">
		<xs:attribute name="name" type="xs:string" use="optional" />
		<xs:attribute name="file" type="xs:string" use="optional" />
		<xs:attribute name="connectionString" type="xs:string" use="optional" />
		<xs:attribute name="connectionString-ref" type="xs:string" use="optional" />
	</xs:complexType>
	<xs:complexType name="perspective-type">
		<xs:attribute name="caption" type="xs:string" use="required" />
		<xs:attribute name="connectionString" type="xs:string" use="optional" />
	</xs:complexType>
	<xs:complexType name="measure-group-type">
		<xs:complexContent>
			<xs:extension base="perspective-type">
				<xs:attribute name="perspective" type="xs:string" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="measure-type">
		<xs:complexContent>
			<xs:extension base="measure-group-type">
				<xs:attribute name="measure-group" type="xs:string" use="optional" />
				<xs:attribute name="display-folder" type="xs:string" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="dimension-type">
		<xs:complexContent>
			<xs:extension base="perspective-type">
				<xs:attribute name="perspective" type="xs:string" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="hierarchy-type">
		<xs:complexContent>
			<xs:extension base="dimension-type">
				<xs:attribute name="dimension" type="xs:string" use="required" />
				<xs:attribute name="display-folder" type="xs:string" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="level-type">
		<xs:complexContent>
			<xs:extension base="dimension-type">
				<xs:attribute name="dimension" type="xs:string" use="required" />
				<xs:attribute name="hierarchy" type="xs:string" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>